*{
  border: 1px solid black;
}
.navbar{
  position: top;
}

div p{
  display: inline;
  float: right;
  margin: 10px;
}
#logo{
  height: 50px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#search_box{
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid silver;
  padding-top: 0;
}
